.lukas{
    background-color: gray;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}
.luk{
    display: flex;
    padding: 10px;
}
.homebar{
    display: flex;
    justify-content: end;
    gap: 30px;
    margin-right: 20px;
    list-style-type: none;
    font-weight: bold;
    font-size: large;
}
.lukako{
  border-top-left-radius: 16px;
  /* border-bottom-left-radius: 15px; */
}
.addtocart{
    border-top-left-radius: 16px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

@media (max-width:1320px) {
    .homebar{
        display: none;
    }
    
}
@media (min-width:360px){
    .homebar{
        display: block;
    }
}